# Ignore build artifacts
/build/
/docs/build/

# Ignore Julia package-specific files
*.jl.cov
*.jl.mem
Manifest.toml
Project.toml
# Ignore editor/OS-specific files
*.DS_Store
*.swp
*.swo
.idea/
.vscode/
